<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ group }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="list">
    <ion-item
      *ngFor="let item of list"
      button
      [routerLink]="['/list', sheetName, 'item-groups', group, item[subgroupKey]]"
    >
      <ion-label>{{ item[subgroupKey] }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
