<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item *ngFor="let item of list">
        <ion-input
          [label]="meta?.[item]?.title || item"
          labelPlacement="stacked"
          [value]="data[item]"
          [readonly]="true"
        ></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
